* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial;
}

/* Navbar Design */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(224, 83, 222);
  padding: 10px;
}
.menu {
  display: flex;
  list-style: none;
  gap: 15px;
  font-size: 24px;
}
.menu a {
  text-decoration: none;
  color: black;
}

.hero {
  display: flex;
  align-items: center;
}
.hero .content {
  width: 50%;
}
.hero .content h3 {
  font-size: 40px;
  text-transform: uppercase;
}
.hero .content p {
  font-size: 32px;
}
.hero .content h1 {
  font-size: 80px;
}
button {
  background-color: rgb(120, 5, 116);
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  color: white;
  margin: 20px 0 10px 0;
}
.hero .image {
  max-width: 50%;
}
/* About Section */
.about {
  display: flex;
  align-items: center;
  gap: 80px;
}
.about .content {
  width: 50%;
}
.about .content h3 {
  font-size: 40px;
  text-transform: uppercase;
}
.about .content p {
  font-size: 32px;
}
.about .content h1 {
  font-size: 80px;
}

.service {
  display: flex;
  align-items: center;
}
.service .web {
  text-align: center;
  justify-content: center;
  border: 2px solid red;
  height: 300px;
  max-width: 300px;
  background-color: antiquewhite;
}
/* Footer */
.footer {
  background-color: rgb(10, 1, 59);
  color: white;
  text-align: center;
  padding: 20px 0 5px 0;
}
.footer .h2 {
  font-size: 30px;
}
.footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 16px;
}
